# Ignore sensitive data files
install.md
temp
snand.config

# Ignore local environment configuration
.env
/.obsidian/**

# Additionally, ignore common file types that should not be committed
*.log
*.tmp
*.bak