# Ignore sensitive data files
secrets.env

# Ignore local environment configuration
.env

# Additionally, ignore common file types that should not be committed
*.log
*.tmp
*.bak
docker-compose-original.yml
docker-compose.yml_6-21-2024